{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Q&A</title>
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
    <link href="{% static 'eduprod/styles.css' %}" rel="stylesheet">
    <script src="{% static 'eduprod/quiz.js' %}" defer></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'users/MathQuizLogo.jpg' %}" alt="Logo">
        </div>
        <div class="timer">Quiz timer:<br> <label id="minutes">00</label>:<label id="seconds">00</label></div>
        <div class="questionnum">Current Q:<br> <label id="CurrentQ">01</label> of <label id="MaxQ">10</label></div>
        <div class="user-info">
            <div>{{ user.username }}</div>
            <div>
                <form action="{% url 'users:logout' %}" method="post" style="margin: 0; margin-left: 20px;">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            </div>
        </div>
        </div>
    </div>   
    {% block body %}
    {% endblock %}
</body>
</html>
